[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
65b7439 = {file = "https://github.com/aysa-sa/docker-registry-client/archive/2019.11.22.zip"}
b30118e = {file = "https://github.com/aysa-sa/common/archive/2019.11.28.zip"}

[requires]
python_version = "3.6"

[scripts]
